@model ChocolateTycoon.Models.Store

<br/>

<tr>
    <th style="text-align: center">Restock</th>
    <th style="text-align: center">Chocolate Stock</th>
    <th style="text-align: center">Sell</th>
    <th style="text-align: center">Total Employees</th>
    <th style="text-align: center">Managers</th>
    <th style="text-align: center">Sales Department</th>
</tr>

<tr>
    <td>
        @Html.ActionLink("Restock", "Restock", new { id = Model.ID }, new { @class = "btn btn-link text-success", @style = "padding: 0", @onclick = "dataReload();" })
    </td>
    <td>@Model.Stock</td>
    <td>
        @Html.ActionLink("Sell Chocolates", "SellChocolates", new { id = Model.ID }, new { @class = "btn btn-link text-success", @style = "padding: 0", @onclick = "dataReload();" })
        <p class="text-danger">@ViewBag.SellingProcess</p>
    </td>
    @{
        Html.RenderAction("StoreEmployees", new { id = Model.ID });
    }
</tr>

<script>
    function dataReload() {
        $('#subTable').load("#subTable");
    }
</script>
