@model ChocolateTycoon.Core.ViewModels.StoreFormViewModel

<br />

@*<div>@Model._message</div>*@

@if (!Model.Store.AdequateStaff)
{
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Not enough employees. Restock and Sell are disabled!
    </div>
}
else if (!Model.Store.AdequateChocolate && Model.Store.CompletedDailySales)
{
    <div class="alert alert-success hidden" role="alert" id="sellSuccess">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Store's daily sales completed! You earned: <span id="dailyEarnings"></span> <i class="fas fa-dollar-sign"></i> !
</div>

    <div class="alert alert-warning hidden" id="salesForTodayCompleted">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        You completed today's work! Please press "END TURN" to start a new day!
        <br />
        Restock and Sell are disabled untill then!
    </div>
}
else if (Model.Store.AdequateStaff && !Model.Store.AdequateChocolate)
{
    <div class="alert alert-warning" role="alert" id="chocolateZero">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Not enough chocolate. Please Restock in order to Sell!
    </div>

    <div class="alert alert-warning hidden" role="alert" id="restockFail">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Looks like there is not enough chocolate to restock! Your factories need to produce some more.
    </div>

}
else
{

}

<tr class="active">
    <th style="text-align: center">Restock</th>
    <th style="text-align: center">Chocolate Stock</th>
    <th style="text-align: center">Sell</th>
    <th style="text-align: center">Total Employees</th>
    <th style="text-align: center">Managers</th>
    <th style="text-align: center">Sales Department</th>
</tr>

<tr class="active">
    <td id="restock">
        @Html.ActionLink("Restock", "Restock", new { id = Model.ID },
       new { @class = "btn btn-link text-success", @style = "padding: 0"/*, @onclick = "restock()"*/, @id = "restockButton" })
        <i class="fas fa-sync-alt"></i>
        @*Fix spacing*@
    </td>
    <td>@Model.Store.Stock</td>
    <td id="sell">
        @Html.ActionLink("Sell Chocolates", "SellChocolates", new { id = Model.ID },
       new { @class = "btn btn-link text-success", @style = "padding: 0"/*, @onclick = "dataReload();"*/, @id = "sellButton" })
    </td>
    @{
        Html.RenderAction("StoreEmployees", new { id = Model.ID });
    }
</tr>

<script>
        //function dataReload() {
        //    $('#subTable').load("#subTable");
        //}


</script>



