@model ChocolateTycoon.Core.ViewModels.StoreEmployeesViewModel

<td>
    @Model._total
</td>

<td>
    @Model._manager

    @if (Model._manager < 1)
    {
        <span class="label label-danger">At least 1 needed!</span>
    }
</td>

<td>
    @Model._sales

    @if (Model.Store.Level == 1)
    {
        if (Model._sales < 2)
        {
            <span class="label label-danger">At least 2 needed!</span>
        }
    }

    @if (Model.Store.Level > 2)
    {
        if (Model._sales < 3)
        {
            <span class="label label-danger">At least 3 needed!</span>
        }
    }
</td>
