@model ChocolateTycoon.Core.Models.Store
@{
    ViewBag.Title = "Delete";
}

<h2>Store</h2>

<h4>Delete</h4>

<p>Are you sure you want to delete this?</p>

<table class="table table-condensed">
    <tr>
        <th>Name</th>
        <th>Level</th>
    </tr>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Level</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Delete</button>
}