@model IEnumerable<ChocolateTycoon.Models.Store>
@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Level</th>
            <th>Current Chocolate Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@store.Name</td>
                <td>@store.Level</td>
                <td>@store.Chocolates</td>
                <td>@Html.ActionLink("Edit", "Edit", "Store", new { id = store.ID }, null)</td>
            </tr>
        }
    </tbody>
</table>