@model ChocolateTycoon.Models.Factory
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Save", "Factory"))
{
    <div class="form-group">
        @Html.LabelFor(f => f.Name)
        @Html.TextBoxFor(f => f.Name, new {@class = "form-control", Value = Model.Name})
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}



