@model IEnumerable<ChocolateTycoon.Models.Factory>

@{
    ViewBag.Title = "Index";
}

<h2>Factories</h2>

<table class="table">

    <th>Name</th>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
        </tr>
    }




</table>