@model IEnumerable<ChocolateTycoon.Models.Store>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        <div id="entities">
            <p>Hi</p>
        </div>
    </div>

    @section scripts
{
        <script>

        </script>
    }
</body>
</html>
