@model IEnumerable<ChocolateTycoon.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var supplier in Model)
{
    <div class="container-fluid col-md-4">
        <table id="table-@supplier.Id" class="table table-bordered">
            <thead style="background-color: darkslategray;">
                <tr>
                    <th class="text-center" colspan="2">Offer @supplier.Id</th>
                    <th style="display: none"></th>
                </tr>
            </thead>
            <tbody style="text-wrap: none">
            </tbody>
        </table>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            let tables = $(".table");

            for (var i = 0; i < tables.length; i++) {
                let table = "#" + tables[i].getAttribute("id");

                fetch("/api/suppliers/" + (i + 1)).then(function (response) {

                    return response.text();

                }).then(function (data) {

                    const supplier = JSON.parse(data);


                    $(table).DataTable({
                        bPaginate: false,
                        bInfo: false,
                        searching: false,
                        ordering: false,
                        columns: [
                            {},
                            {}
                        ]
                    })
                        .row.add([
                            "Supplier",
                            supplier.name
                        ])
                        .row.add([
                            "Offer Amount (Kg)",
                            supplier.offerAmount
                        ])
                        .row.add([
                            "Price per Kg",
                            supplier.pricePerKilo
                        ])
                        .draw();
                });
            };
        });
    </script>
}