@model IEnumerable<ChocolateTycoon.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var supplier in Model)
{
    <div class="container-fluid col-md-4">
        <table id="table-@supplier.Id" class="table table-bordered">
            <thead style="background-color: darkslategray;">
                <tr style="background-color: darkslategray">
                    <th class="text-center">Offer @supplier.Id</th>
                    @*<th style="display: none"></th>*@
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<th>Supplier</th>*@
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            let tables = $(".table");

            for (var i = 0; i < tables.length; i++) {
                let table = "#" + tables[i].getAttribute("id");

                //function getData() {
                //    return $.ajax({
                //        type: "GET",
                //        url: "/api/suppliers/1",
                //        data: "",
                //        dataType: "JSON",
                //        success: function (data) {
                            // Retrieve the object
                            //var result = data['name'];
                            // Grab name from the object
                            //console.log(result['name']);
                            //data = response['name'];
                        //},
                        //error: function () {
                        //    alert('Ajax request fail');
                        //}
                        //complete: function (response) {
                        //    return response['name']
                        //}
                //    });
                //};

               //var x = getData().done(function (response) { return response['name'] });

                var value = i + 1;

                $(table).DataTable({
                    bPaginate: false,
                    bInfo: false,
                    searching: false,
                    ajax: {
                        //type: "GET",
                        url: "/api/suppliers/1",
                        //dataType: "JSON",
                        dataSrc: "",
                        data: ""
                    },
                    columns: [
                        {
                            //title: "Offer " + value,
                            //className: "text-center",
                            data: "name"
                        }
                    ]
                });
            };
        });
    </script>
}