@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow: 0 0 0 #BF815E, 0 0 0 #8C583A, 0 0 0 #592F16, 0 0 0 #F27D16;
    }

    20% {
        transform: translateY(-0.1em);
        text-shadow: 0 0.125em 0 #BF815E, 0 0.25em 0 #8C583A, 0 -0.125em 0 #592F16, 0 -0.25em 0 #F27D16;
    }

    40% {
        transform: translateY(0.1em);
        text-shadow: 0 -0.0625em 0 #BF815E, 0 -0.125em 0 #8C583A, 0 0.0625em 0 #592F16, 0 0.125em 0 #F27D16;
    }

    60% {
        transform: translateY(-0.05em);
        text-shadow: 0 0.03125em 0 #BF815E, 0 0.0625em 0 #8C583A, 0 -0.03125em 0 #592F16, 0 -0.0625em 0 #F27D16;
    }

    80% {
        transform: translateY(0);
        text-shadow: 0 0 0 #BF815E, 0 0 0 #8C583A, 0 0 0 #592F16, 0 0 0 #F27D16;
    }
}

@keyframes stripes {
    100% {
        background-position: 15px 0, 15px 0, 15px 0;
    }
}

@keyframes bounce {
    0%,100% {
        transform: translate(0);
    }

    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

@keyframes float {
    0%,100% {
        transform: none;
    }

    33% {
        transform: translateY(-1px) rotate(-2deg);
    }

    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

* {
    /*font-family: ', sans-serif;
    font-style: normal;*/
    /*font-weight: 400;
    font-family: Roboto, sans-serif*/
}

/*@font-face {
    font-family: 'Roboto', sans-serif !important;
}*/

html {
    background: url("/Content/resources/img/BG.png") no-repeat center center fixed;
    background-size: cover;

}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #F2F2F2;*/
    /*background-color: transparent;*/
    /*background: rgba(255,255,255,0.2);*/
    background: linear-gradient(45deg, rgba(226,226,226,0.5) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.5) 51%, rgba(254,254,254,0.25) 100%);
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 90%, rgba(255,255,255,0.8) 100%);*/
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);*/
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    /*filter: blur(8px);*/
    /*backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);*/
}

.bg-image {
    background-image: url("/Content/resources/img/BG.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set field validation text color */
.field-validation-error {
    color: red;
}

/* Set input validation border */
.input-validation-error {
    border: 2px solid red;
}

/* Temporary fix for Supplier offer tables, if somethings else breaks, delete this style below. */
td, th {
    padding: 0;
    padding-left: inherit;
}

/* Creates bootstrap round buttons */
.btn-circle {
    width: 25px;
    height: 25px;
    padding: 0px 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
}

#messageContainer {
    border-top: 1px solid #464545;
    padding: 10px 0;
    margin-right: 15px
}

/* Change navbar background color */
.navbar-brand, .navbar-inverse {
    /*background-color: #742e00;*/
    color: #000000;
    font-size: 25px;
    font-weight: bolder;
    /*text-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);*/
    /*text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);*/
    text-shadow: 1px 1px 0px #d5d5d5, 1.2px 1.2px 0px rgba(0, 0, 0, 0.1);
}

    /* Change navbar items hover color */
    .navbar-inverse .navbar-nav > li > a {
        /*color: #000000;*/
    }


    /* Change navbar items hover color */
    .navbar-inverse .navbar-nav > li > a:hover {
        /*color: gold;*/
    }

.dropdown-menu > li > a {
    color: #000000;
}

.game-name {
    /*text-shadow: 1px 1px 4px #8C583A;*/
    font-weight: bold;
    font-size: 28px;
    /*text-shadow: 10px 10px 25px rgb(81,67,21), -10px 10px 25px rgb(81,67,21), -10px -10px 25px rgb(81,67,21), 10px -10px 25px rgb(81,67,21);*/
    /*text-shadow: -1px 1px 0 #8C583A, 1px 1px 0 #8C583A, 1px -1px 0 #8C583A, -1px -1px 0 #8C583A;*/
    /*text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);*/
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    /*letter-spacing: 0.01em;*/
    /*animation: text-shadow 1.5s ease-in-out infinite;*/
    animation: float 0.7s ease-in-out infinite;
}

    .game-name:hover {
        animation: bounce .6s ease-in-out infinite;
        
    }

/* End-turn bautton style */
#endTurnBtn {
    /*background-color: transparent;
    color: gold;*/
    /*transform: translateX(150%);*/
    /*margin-left: auto;
    margin-right: auto;
    max-width: 200px;*/
    /*max-width: 200px;
    max-height: 100px;*/
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
    /*margin-left: 50%;*/
    position: absolute; /* or absolute */
    left: 45%;
    right: 45%;
    line-height: 20px;
    margin-top: 5px;
    background-color: #8C583A;
    /*background: linear-gradient(to bottom, rgba(89,47,22,1) 0%,rgba(140,88,58,1) 54%,rgba(191,129,94,1) 100%);*/
    background: linear-gradient(to bottom, rgba(191,129,94,1) 0%,rgba(140,88,58,1) 90%,rgba(191,129,94,1) 100%);
    border-color: #F27D16;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-shadow: 1px 1px 2px #000000;
    letter-spacing: 0.15em;
    /*animation: textclip 1.5s linear infinite;*/
    /*animation: text-shadow 1.5s ease-in-out infinite;*/
    background: linear-gradient( -45deg, #BF815E 25%, #8C583A 25%, #8C583A 50%, #BF815E 50%, #BF815E 75%, #8C583A 75%, #8C583A);
    background-size: 15px 15px;
    background-position: 0 0;
    animation: stripes 1s linear infinite;
}

    #endTurnBtn:hover {
        filter: brightness(110%);
        /*animation: text-shadow 1.5s ease-in-out infinite;*/
    }

/*#helpButton {
    background-color: transparent;
    border: none;
    
}*/

#userLogin {
    padding-right: 10px;
}

#helpButton {
    /*padding-right: 25px;
    padding-top: 10px;*/
    width: 40px;
    height: 40px;
    padding: 10px 16px;
    border-radius: 35px;
    /*font-size: 24px;*/
    /*line-height: 1.33;*/
    text-align: center;
    background: rgb(0,125,255);
    /*background: radial-gradient(circle, rgba(0,125,255,1) 0%, rgba(0,114,232,1) 30%, rgba(0,107,218,1) 70%, rgba(0,73,234,1) 85%, rgba(0,0,0,1) 95%);*/
    /*background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);*/
    background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    border: none;
    /*border: 1px solid black;*/
    line-height: 20px;
    margin-top: 5px;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 5px;
    filter: brightness(90%);
}

    #helpButton:hover {
        border: none;
        filter: brightness(110%);
        animation: tada 0.5s linear infinite;

    }

    #helpButton:focus {
        border: none;
        box-shadow: none;
        outline: none;
        filter: brightness(80%);
    }

.jumbotron {
    max-height: 300px;
}

/*.modal-open .modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}*/

.label {
    font-weight: bold;
    font-size: 90%;
    margin-left: 15px;
}

.newEnityCreactionButton {
    color: limegreen;
    font-size: 35px;
    text-shadow: 0px 0px 1px #000000, 2px 2px 0px rgba(0, 0, 0, 0.5);
}

    .newEnityCreactionButton:hover {
        color: limegreen;
        filter: brightness(110%);
    }

    .newEnityCreactionButton:focus {
        color: limegreen;
    }

#moneyBalance {
    color: #F27D16;
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-left: 15px;
}

.text-success:hover {
    color: #000000 !important;
    
}