body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

/* Temporary fix for Supplier offer tables, if somethings else breaks, delete this style below. */
td, th {
    padding: 0;
    padding-left: inherit;
}

/* Creates bootstrap round buttons */
.btn-circle {
    width: 25px;
    height: 25px;
    padding: 0px 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
}
