@model ChocolateTycoon.Models.Safe

<span class="navbar-brand" style="color: gold">
    <span id="count">@Model.Deposit</span> 
    <span>
        @Html.ActionLink("+", "CheatDeposit", "Safe", null, new { @style = "text-decoration: none; color: #742e00;" })
    </span>
    <span>
        @Html.ActionLink("-", "CheatWithdraw", "Safe", null, new { @style = "text-decoration: none; color: #742e00;" })
    </span>
</span>



