@model ChocolateTycoon.Models.Safe

@*<ul class="nav navbar-brand navbar-right" >
        <li style="color: darkslateblue; font-weight: bold; padding-right: 30px">
            @Model.Deposit <i class="glyphicon glyphicon-bitcoin"></i>
        </li>
    </ul>*@

    <span class="navbar-brand" style="padding-right: 20px; color: gold">
        <span id="count" class="count">@Model.Deposit</span> <i class="glyphicon glyphicon-bitcoin"></i>
        <span>
            @Html.ActionLink("+", "Deposit", "Safe", null, new { @style = "text-decoration: none; color: white;" })
        </span>
        <span>
            @Html.ActionLink("-", "Withdraw", "Safe", null, new { @style = "text-decoration: none; color: white;" })
        </span>
    </span>



