@model ChocolateTycoon.Models.Safe    

<ul class="nav navbar-brand navbar-right" >
    <li style="color: darkslateblue; font-weight: bold; padding-right: 30px">
        @Model.Deposit <i class="glyphicon glyphicon-bitcoin"></i>
    </li>
</ul>
